<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor
				name="Polyglot Editor"
				extensions="jl"
				class="pide.editors.JLEditor"
				id="pide.editors.Editor"
		/>
	</extension>
	<extension
			point="org.eclipse.core.resources.natures"
			id="jlnature"
			name="JL nature">
		<runtime>
			<run class="pide.natures.JLNature"/>
		</runtime>
	</extension>
	<extension
			point="org.eclipse.ui.newWizards">
		<category
				id="pide.category.wizards"
				name="JL"/>
		<wizard
				category="pide.category.wizards"
				class="pide.wizards.NewJLProjectWizard"
				id="pide.wizards.new.jlproject"
				name="JL Project"
				project="true"/>
	</extension>
</plugin>
